* {
    margin: auto;
    box-sizing: border-box;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont;
    color: #f0f0f0;
  }
  .nav {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
  }
  .icono {
    width: 50px;
  }
  .menu {
    display: flex;
    margin-left: auto;
    gap: 4px;
    border: none;
    justify-content: space-between;
  }
  li {
    list-style: none;
  }
  .pagina {
    text-decoration: none;
  }
  .tituloPrin {
    text-align: center;
  }