@import url("./globals.css");

.inicio,
.nosotros,
.explora,
.casas {
  padding: 20px;
}
.texto {
  text-align: center;
}
body {
  background-image: url(/public/fondoMF.gif);
  padding: 2px;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
}
.contenedorBoton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}
.explorar {
  border-radius: 8px;
  background: rgba(82, 11, 214, 0.4);
  border: none;
  padding: 8px;
  cursor: pointer;
}
.explor {
  text-decoration: none;
}
footer {
  padding-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  bottom: 0;
}
.explorar:hover {
  background-color: rgb(142, 108, 228, 0.4);
  box-shadow: 0 0 15px rgb(194, 168, 255);
}
