* {
  margin: auto;
  box-sizing: border-box;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont;
  color: #f0f0f0;
}
header{
  justify-content: space-between;
}
.icono{
  width: 20%;
}
.menu {
  display: flex;
  margin-left: auto;
  gap: 4px;
  border: none;
  justify-content: space-between;
}

.pagina {
  text-decoration: none;
}
.tituloPrin {
  text-align: center;
}

.inicio,
.nosotros,
.explora {
  padding: 20px;
}
.texto {
  text-align: center;
}
body {
  background-image: url(../public/fondoMF.gif);
}
.contenedorBoton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}
.explorar {
  border-radius: 8px;
  background: rgba(82, 11, 214, 0.4);
  border: none;
  padding: 8px;
  cursor: pointer;
}
.explor {
  text-decoration: none;
}
:hover .explorar {
  background-color: rgb(142, 108, 228, 0.4);
  box-shadow: 0 0 15px rgb(194, 168, 255);
}
